<div class="jumbotron" id="home">
	<div class="container">
		<div class="row">   
        <div class="col-lg-5 col-md-offset-3">
        	<div id="headline1">
	          <h1 style="color: #ffffff; text-shadow: black 0.1em 0.1em 0.2em; line-height: 1.2em; font-family: arial;">Fail Fast. <br />Fail Cheap. <br />Fail <img class="img-responsive" src="/images/happy.png" style="display: inline-block;">.</h1>
	          	<a class="btn btn-secondary btn-lg" href="http://www.amazon.com/Secret-Startup-Failure-Cheap-Happy-ebook/dp/B00HRB32MI/" target="_blank" >Look on Amazon</a> <br />
              <a href="http://www.amazon.com/gp/top-rated/digital-text/8493731011/" target="_blank"><span class="label label-danger">#1 TOP RATED</span></a>
              <a href="http://www.amazon.com/gp/bestsellers/digital-text/8493731011/" target="_blank"><span class="label label-success">BEST SELLER</span></a>
              
        	</div>
        </div>
      </div>
	</div>
</div>

<div style="background-color: #E5E4E2; position: relative; top: -40px;">
  <br />
<h1 style="text-align:center" id="reviews">For those who are crazy enough to keep failing...</h1>
  <div class="container">
    <div class="center-block">  
      <div id="goodreads-widget" class="center-block">
        <div id="gr_header"><h1><a href="https://www.goodreads.com/book/show/20505787-secret-to-startup-failure">Goodreads reviews for Secret to Startup Failure</a></h1></div>
        <iframe id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe/7756699.Sonia_Lin?did=DEVELOPER_ID&format=html&header_text=Goodreads+reviews+for+Secret+to+Startup+Failure&isbn=0991426509&links=660&min_rating=&num_reviews=&review_back=E5E4E2&stars=000000&stylesheet=&text=444" height="400" frameborder="0"></iframe>
        <div id="gr_footer">
          <a href="https://www.goodreads.com/book/show/20505787-secret-to-startup-failure?utm_medium=api&utm_source=reviews_widget" class="gr_branding" target="_blank">Reviews from Goodreads.com</a>
        </div>
      </div>
    </div>
  </div>  
</div>
<br />

<div class="jumbotron" id="jumbotron2" style="background-image: url(http://res.cloudinary.com/dxytnnzk9/image/upload/v1387957187/stsf_background_i9d716.jpg); background-size: cover; background-position: 50% 20%; position: relative; top: -60px; margin-bottom: 10px; padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" style="line-height: 10px;">
        <img id="book" class="img-responsive" src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1389412793/stsf_3d_final_q3hbaf.png">
      </div>
      <div class="col-lg-4" style="line-height: 10px;">
        <h1 style="color: #ffffff; text-shadow: black 0.1em 0.1em 0.2em;">Secret to Startup Failure</h1>
          <a class="btn btn-secondary btn-lg" href="http://www.amazon.com/Secret-Startup-Failure-Cheap-Happy-ebook/dp/B00HRB32MI/" target="_blank" >Available on Amazon</a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="trailer" style="margin-bottom: 40px; margin-top: 20px;">

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-1">
      <p>
        <blockquote>I came, I saw, I failed.</blockquote>
        <blockquote> Success is 1% inspiration and 99% failure.</blockquote>
        Although this is not what is told in the textbook, this is too true to ignore in life, and even more so in the startup life. And guess what? You’re one step closer to success. 
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <iframe class="youtubevideo" src="//www.youtube.com/embed/M36rNAw7PZ8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- /.row -->

</div>


<div class="container">

  

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
      <img class="img-responsive" src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1387957354/stsf_comic01_vxr9tk.jpg" width="400px">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>
      	Fail fast. fail cheap. fail happy.</h3>
      <p>
      	While you’ve heard enough secrets to startup success, this book tells how to fail safely in preparation for long-term startup success. While everyone else is saying why you’ are not doing enough, this book highlights the importance of work-life balance to live a life that supports a passion.
      </p>
    </div>
  </div><!-- /.row -->

	<hr class="featurette-divider">

	<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-1">
      <h3>So get ready for <br />
      	<em>Secret to Startup Failure</em> to:</h3>
      <ul>
      	<li>Get over a less-than-successful launch day</li>
				<li>Pick a co-founder who provides politics-free companionship</li>
				<li>Interpret productivity from the garbage can</li>
				<li>Have an investor call on St. Patrick’s Day</li>
				<li>… and more</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
      <img class="img-responsive" src="http://res.cloudinary.com/dxytnnzk9/image/upload/v1387957363/stsf_comic02_ztiqnr.jpg" width="400px">
    </div>
  </div><!-- /.row -->
  <br />
  <br />
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>
        	<!-- <span style='color:red'> Startup</span> Life is  
        	<strike style='color:red'>
   					<span style='color:black'>short</span>
   				</strike>.
 					<span style='color:red'>long</span>
					<br /> -->
					Startup life is long, <br /></h3>
        	<h4>so fail where you should, and laugh when you can.</h4>
	          <a class="btn btn-secondary btn-lg" href="http://www.amazon.com/Secret-Startup-Failure-Cheap-Happy-ebook/dp/B00HRB32MI/" target="_blank" >Get on Amazon</a>
      </div>
    </div>
  </div>
</div>

<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 text-center">
          <h3>Check out more comics</h3>
          <a href="http://entreprenos.com" target="_blank" style="text-decoration: none;"><h4>Visit EntrepreNo's</h4></a>
          <br />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="border-left:1px solid #E5E4E2;">
        <ul class="list-inline">
        	<h3>Connect with us</h3>
          <li><a href="https://www.facebook.com/entreprenos" target="_blank"><i class="fa fa-facebook fa-2x"></a></i></li>
          <li><a href="https://twitter.com/EntrepreNos" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="mailto:info@entreprenos.com"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <br />
      <p class="text-center">Copyright &copy; <a href="http://entreprenos.com" target="_blank" style="text-decoration: none">EntrepreNo's</a> 2014</p>
  </div>
</footer>

