<div class="jumbotron" id="home" style="background-image: url(/images/stsf_background.jpg); background-size: cover; background-position: 50% 20%; ">
	<div class="container">
		<div class="row">
        <div class="col-lg-6">
          <img id="book" class="img-responsive" src="/images/stsf_book_3d_1.png"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
        <div class="col-lg-6">
        	<div class="headline">
	          <h1 style="color: #ffffff; text-shadow: black 0.1em 0.1em 0.2em;">Secret to Startup Failure</h1>
	          <p style="color: #ffffff; text-shadow: black 0.1em 0.1em 0.2em;">Fail fast. Fail cheap. Fail happy.</p>
	          <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        	</div>
        </div>
      </div>
	</div>
</div>

<h1 style="text-align:center" id="trailer">To those who are crazy enough to keep failing...</h1>
<br />

<div class="container">

	<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-1">
    	<br />
      <p>
        <blockquote>I came, I saw, I failed.</blockquote>
        <blockquote> Success is 1% inspiration and 99% failure.</blockquote>
        Although this is not what is told in the textbook, this is too true to ignore in life, and even more so in the startup life. And guess what? You’re one step closer to success. 
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    	<iframe class="youtubevideo" src="//www.youtube.com/embed/xWlZLYZfaWE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- /.row -->

	<hr class="featurette-divider">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
      <img class="img-responsive" src="/images/comic01.jpg" width="400px">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Fail fast, fail cheap, and fail happy</h2>
      <p>
      	While you’ve heard enough secrets to startup success, this book tells how to fail safely in preparation for long-term startup success. While everyone else is saying why you’ are not doing enough, this book highlights the importance of work-life balance to live a life that supports a passion.
      </p>
    </div>
  </div><!-- /.row -->

	<hr class="featurette-divider">

	<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-1">
      <h2>So get ready for Secret to Startup Failure to:</h2>
      <ul>
      	<li>Get over a less-than-successful launch day</li>
				<li>Pick a co-founder who provides politics-free companionship</li>
				<li>Interpret productivity from the garbage can</li>
				<li>Have an investor call on St. Patrick’s Day</li>
				<li>… and more</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-1">
      <img class="img-responsive" src="/images/comic02.jpg" width="400px">
    </div>
  </div><!-- /.row -->
  <br />
  <br />
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>
        	<!-- <span style='color:red'> Startup</span> Life is  
        	<strike style='color:red'>
   					<span style='color:black'>short</span>
   				</strike>.
 					<span style='color:red'>long</span>
					<br /> -->
					Startup life is long. <br />
        	So fail where you should, and laugh when you can.</h3>
        <a href="#" class="btn btn-lg btn-default">Click Me!</a>
      </div>
    </div>
  </div>
</div>

<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 text-center">
          <h3>Check out more comics</h3>
          <a href="http://entreprenos.com" target="_blank" style="text-decoration: none;"><h4>Visit EntrepreNo's</h4></a>
          <br />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="border-left:1px solid #E5E4E2;">
        <ul class="list-inline">
        	<h3>Connect with Us</h3>
          <li><a href="https://www.facebook.com/entreprenos" target="_blank"><i class="fa fa-facebook fa-2x"></a></i></li>
          <li><a href="https://twitter.com/EntrepreNos" target="_blank"><i class="fa fa-twitter fa-2x"></i></li>
          <li><a href="mailto:info@entreprenos.com"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <br />
      <p class="text-center">Copyright &copy; <a href="http://entreprenos.com" target="_blank" style="text-decoration: none">EntrepreNo's</a> 2014</p>
  </div>
</footer>

