<div style="background-color: #E5E4E2; position: relative; top: -40px;">
  <br />

  <div class="container">
  	<h1 style="text-align:center" id="release">Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy. <br />Wins Indie Excellence Award</h1>
    <div class="center-block">  
      <div id="goodreads-widget" class="center-block">
        <span>FOR IMMEDIATE RELEASE</span>
				 
				<p>June 5, 2014 - Award-winning entrepreneur Sonia Lin’s humorous take on the reality of business startups, Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy., earned a very special award this year. The National Indie Excellence Book Awards, who have been awarding expertly-written books based on excellence in presentation and writing since 2007, awarded the Indie Excellence Award 2014 in the Business Entrepreneurship & Small Business category to the book.</p>

				<p>Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy. takes a witty stance on the many failures and mistakes that often happen with hatchling businesses. Sonia Lin reassures entrepreneurs to “fail where you should, and laugh when you can” through the tough beginnings of a new business. Throughout Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy., Sonia encourages readers to maintain a work-life balance and continue pushing forward in their entrepreneurial journeys.</p> 

				<p>Aside from winning this year’s Indie Excellence Award, Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy. is also receiving excellent reviews from readers. About the book, which is currently available on Amazon, one recent reader says, “As a perfectionist and someone who has started various businesses, not always succeeding, I found this concept hard to digest at first. I am very happy to say that after reading this book I really felt that I could relax a little. I always plagued myself with the small details and always managed to find obstacles rather than signs of success. This book really has lifted the lid of limitation for me; I feel that I can go ahead with plans AND still have a life.”</p>

				<h5>About Sonia Lin</h5>

				<p>Sonia Lin, who is an author, entrepreneur, and developer, has a plethora of firsthand startup experience. She founded a Chicago-based startup, and it won a Google-based global business competition with a $250,000 investment and a wealth of media attention. She’s been featured in an international Google commercial and was a finalist for a Ten Outstanding Young Persons list.</p> 

				<h5>Contact</h5>

				<span>Scarlett Lee<br />
				Phone: 415-799-7368<br />
				E-mail: media@entreprenos.com</span>
				<br />

				<p>To view Secret to Startup Failure: Fail Fast. Fail Cheap. Fail Happy. on Amazon:<br />
				<%= link_to "http://www.amazon.com/Secret-Startup-Failure-Cheap-Happy-ebook/dp/B00HRB32MI/", "http://www.amazon.com/Secret-Startup-Failure-Cheap-Happy-ebook/dp/B00HRB32MI/" %></p>

				<span>###</span>

      </div>
    </div>
  </div>  
</div>